.logoSpaceContainer {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logoSpace {
    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .column{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .columnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 30vh;
  }
  .infoBig {
    color: black;
    font-weight: 700;
    font-size: 30px;
  }
  .main {
    width: 100%;
    height: 100vh;
    background-color: white;
      }
      .secondSection{
        display: flex;
        height: 500px;
        
        flex-direction: column;
        align-items: center;
      }
  .black{
    color: black;
  }

  .arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;

  }
  .breadCrumbs{
    height: 40px;
    display: flex;
    align-items: center;
    min-width: 60px;
    justify-content: center;
    width: fit-content;
  }
  .mainContent {
    width: 100%;
    justify-content: center;
    height: fit-content;
    padding-top: 20px;
    background-color: white;
    display: flex;
      }
      
  .filter{
    width: 20%;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(2,50,92);
  }
  .box{
      width: 300px;
      display: flex;
      border-radius: 20px;
      border: 1px rgb(191, 191, 191) solid;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      height: 400px;
      /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
      
  }
  .somethingElse{
    display: flex;
    width: 96%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
 
  .row{
    display: flex;
    align-items: center;
    width: 100%;
    height: 55%;
  }
  
  .rowOem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .space{
    margin-right: 8px;
    color: white;
  }
  .space:checked::before{
    background-color: white;
  }
  .space:active{
    color: white;
  }
 
  .columnCenter{
    display: flex;
    width: 65%;
    height: 40%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .price{
    font-size: 18px;
    font-weight: 500;
    color: rgb(47,51,63);
  }
  .priceSmall{
    font-size: 18px;
    font-weight: 500;
    color: rgb(47,51,63);
  }
  .priceMedium{
    font-size: 16px;
    font-weight: 400;
    color: rgb(47,51,63);
  }
  .model{
    font-size: 23px;
  }
  .modelSmall{
    font-size: 16px;
    color: rgb(47,51,63);
  }
  .modelSmallish{
    font-size: 15px;
    
    color: rgb(47,51,63);
  }
  .title{
      font-size: 20px;
      padding: 5px;
  }
  .line{
    width:110%;
    height: 1px;
    background-color: black;
  }
  .lineSmall{
    width:100%;
    height: 1px;
    background-color: white;
    
  }
  .titleBig{
    font-size: 25px;
    font-weight: 500;
  }
  .titleLarge{
    font-size: 35px;
    color: black;
    width: 80%;
    text-align: center;
  }
  .titleLargeBlack{
    font-size: 35px;
    color: white;
    padding: 5px;
    background-color: rgb(50,50,60);
    width: 100%;
    padding-right: 150px;
    text-align: center;
  }
  .titleSmall{
    font-size: 25px;
    font-weight: 500;
    color: white;
    
    padding: 1px;
  }
  .titleSmallBlack{
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding: 1px;
    width: 90%;
  }
  .titleSmallSpec{
    font-size: 20px;
    width: 50%;
    
    color: black;
    padding: 10px;
  }
  .titleSmallSpecNB{
    font-size: 20px;
    width: 50%;
    font-weight: 600;
    color: black;
    padding: 10px;
  }
  .titleMedium{
    font-size: 23px;
    color: black;
    padding: 10px;
  }
  .titleMediumSpec{
    font-size: 30px;
    color: black;
    padding: 10px;
  }
  
  .boxContainer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
      width: 90%;
      justify-items: center;
      gap: 15px;
      
  }
  .center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    padding-bottom: 20px ;
    width: 100%;
  }
  .centerFeature{
    display: flex;
    height: 300px;
    flex-direction: column;
    
    
  }
  .centerNormal{
    
    
    
    
  }

  @media(max-width: 700px ) {
    .boxContainer{
      grid-template-columns: 1fr;
    }
    .filter{
      display: none;
    }
 
  }

  