.main{
    background-color: rgb(18,18,18);
    min-height: 100vh;
    height: fit-content;
    color: white;
}
.content{
    align-items: center;
    justify-content: center;
    display: flex; 
    width: 100%;
    height: fit-content;
    min-height: 50%;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.rowGap{
    display: flex;
}
.line{
    width: 80%;
    height: .5px;
    background-color: white;
}
.rowSong{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    padding: 25px;
}
.rowSong:hover{
    transition: .5s all ease-in-out;
    border-radius: 5px;
    background-color: rgb(79, 79, 79) ;
}
.rowSong div{
    color: white;
    text-align: center;
    
}
.topRow{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.button{
    background-color: white;
    padding: 5px;
    color: black;
    border-radius: 5px  ;
}
.column{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}
.input{
    width: 500px;
    color: black;
    border-radius: 10px;
}