.queue{
    width: 30%;
    min-height: 100vh;
    height: fit-content;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.linkContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.link:hover{
    background-color: rgb(200, 199, 199);
}